<!-- <p>rates-form works!</p> -->
<div class="qualification_form">
    <div mat-dialog-title text-center>
        <h3>Add Rates</h3>
    </div>
    <mat-dialog-content>
        <form #ratesForm>
            <div class="form-group">
                <input type="text" placeholder="Items" class="form-control" name="item" required/>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="$$" name="price" required>
                </div>
                <div class="col-md-8">
                    <select name="value" class="typefield" [(ngModel)]="value" class="form-control">
                        <option>Option 1</option>
                        <option>Option 1</option>
                        <option>Option 1</option>
                        <option>Option 1</option>
                    </select>
                    <!-- <mat-form-field>
                        <mat-select [(ngModel)]="value">
                            <mat-option>None</mat-option>
                            <mat-option value="option1" selected>Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </div>
            </div>
            <div class="form-group">
                <input id="singleFile" type="file" [fileUploadInputFor]="" />
                <label for=""><img src="./assets/images/pdf-icon.svg" alt=""></label>
            </div>
            <button (click)="rateFromSubmit()" class="submit">Submit</button>
        </form>
    </mat-dialog-content>
</div>