<div class="qualification_form">
    <div mat-dialog-title text-center>
        <h3>Progress</h3>
    </div>
    <mat-dialog-content>
        <form #progressForm>
            <div class="col-md-12 form-group">
                <input type="hidden" name="user_id" [value]="data.userId" class="form-control"/>
            </div>
            <div class="col-md-12 form-group">
                <input type="text" name="title" class="form-control"/>
            </div>
            <div class="col-md-12 form-group">
                <textarea name="text" class="form-control"></textarea>
            </div>
            <div class="col-md-12 form-group">
                <input type="file" name="doc" class="form-control"/>
            </div>
            <div>
                <button (click)="progressFromData()" class="submit">Submit</button>
            </div>
        </form>
    </mat-dialog-content>
</div>
