<div class="row">
    <div class="col-md-6">
        <div class="medical_history">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="heading">
                            <h3><a (click)="openQualification()">
                                <img src="./assets/images/add-icon.svg" alt="">
                            </a> Qualification</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordian_details" *ngFor="let qualy of otherDetails.qualification">
                        <h3>{{qualy.title}}</h3>
                        <p>{{qualy.text}}</p>
                        <div class="img">
                            <img [src]="qualy.doc" class="img-fluid"/>
                        </div>
                    </div>
                </mat-expansion-panel>
                
            </mat-accordion>
        </div>
    </div>
    <div class="col-md-6">
        <div class="medical_history">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="heading">
                            <h3><a (click)="openKids()">
                                <img src="./assets/images/add-icon.svg" alt="">
                            </a> Kids</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordian_details" *ngFor="let kids of otherDetails.kids">
                        <p>{{kids.first_name}}</p>
                        <p>{{kids.last_name}}</p>
                        <p>{{kids.dob}}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="rates_history">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="heading">
                            <h3><a (click)="openRates()">
                                <img src="./assets/images/add-icon.svg" alt="">
                            </a>Rates</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordian_details" *ngFor="let rates of otherDetails.rates">
                        <h3>{{rates.item}}</h3>
                        <p>{{rates.price}}</p>
                        <p>{{rates.value}}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="col-md-6">
        <div class="notes_history">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="heading">
                            <h3><a (click)="openNotes()">
                                <img src="./assets/images/add-icon.svg" alt="">
                            </a>Notes</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordian_details" *ngFor="let notes of otherDetails.notes">
                        <h3>{{notes.title}}</h3>
                        <p>{{notes.text}}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
