
<div class="row all_details">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col-md-6 text-left">
                <a routerLink="../newClients" class="add_client">Add New Clients</a>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink="../newDietitian" class="add_client dietitians_btn">Add New Dietitians</a>
            </div>
            <br>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Clients</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Dietitians</h3>
            <p>18</p>
        </div>
    </div>
    
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Notes</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Tasks</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Issues</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Calender</h3>
            <p>18</p>
            <span>November</span>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Invoices <br>Send</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="section">
            <h3>Settings</h3>
            <p>18</p>
        </div>
    </div>
</div>
