<div class="row all_details">
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Clients</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Dietitians</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <a>Add New Clients</a><br>
            <a class="dietitians_btn">Add New Dietitians</a>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Notes</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Tasks</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Issues</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Calender</h3>
            <p>18</p>
            <span>November</span>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Invoices <br>Send</h3>
            <p>18</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="section">
            <h3>Settings</h3>
            <p>18</p>
        </div>
    </div>
</div>
