@import '../../../../styles.scss';
body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
}

input[type="text"],
input[type="password"], select {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border:2px solid $gray-color;
  border-radius: 3px;
  padding-left: 15px;
  height: 40px;
  
}
.form-group{
  margin-bottom: 40px;
}
label{
  color: #c1c1c1;
  font-weight: 600;
  text-transform: uppercase;
}
.typefield{
  width: 100%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.login_services{
  h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
