<div class="qualification_form">
    <div mat-dialog-title text-center>
        <h3>Medical History</h3>
    </div>
    
        <form #medicalHistoryForm>
            <div class="col-md-12 form-group">
                <input type="hidden" name="user_id" [value]="userData.details.user_id" class="form-control"/>
            </div>
            <div class="col-md-12 form-group">
                <input type="text" name="title" class="form-control" [(ngModel)]="userData.details.title"/>
            </div>
            <div class="col-md-12 form-group">
                <textarea name="text" class="form-control" [(ngModel)]="userData.details.text"></textarea>
            </div>
            <div class="col-md-12 form-group">
                <input type="file" name="doc" class="form-control"/>
            </div>
            <div>
                <button (click)="submit()" class="submit">Submit</button>
            </div>
        </form>

        <!-- <div >
            <div class="col-md-12 form-group">
                <input type="text" name="title" class="form-control" [(ngModel)]="userData.details.title"/>
            </div>
            <div class="col-md-12 form-group">
                <textarea name="text" class="form-control" [(ngModel)]="userData.details.text"></textarea>
            </div>
            <div class="col-md-12 form-group">
                <input type="file" name="doc" class="form-control" #file />
            </div>
            <div>
                <button (click)="submit()" class="submit">Submit</button>
            </div>
        </div> -->
</div>
