<div class="side_bar fixed">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="allDetails">Dashboard</a>
    </li>
    <li routerLinkActive="active" >
      <a routerLink="newClients">Clients</a>
    </li >
    <li routerLinkActive="active">
      <a routerLink="newDietitian">Dietitians</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="notes">Notes</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="tasks">Tasks</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="issues">Issues</a>
    </li>
    <li routerLinkActive="active"><a routerLink="canendar">Calender</a></li>
    <li routerLinkActive="active"><a routerLink="invoices">Invoices</a></li>
    <li routerLinkActive="active"><a routerLink="settings">Settings</a></li>
  </ul>
</div>