<div class="dietetion">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading">
                <h1>Add New Dietitian</h1>
            </div>
        </div>
        <div>
            <!-- <div class="row">
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" [(ngModel)]="data.first_name" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="last Name" name="last_name" [(ngModel)]="data.last_name" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Skype Id" name="skype_id" [(ngModel)]="data.skype_id" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="data.phone" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Alternate Phone / Whatapp" name="alt_phone" [(ngModel)]="data.alt_phone" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="data.city" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Country" name="country" [(ngModel)]="data.country" required>
                </div>
                <div class="col-md-4 form-group">
                    <select name="type" class="typefield" [(ngModel)]="data.user_type" class="form-control">
                        <option value="d" selected>Dietitian</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Pin Code" name="pin" [(ngModel)]="data.pin" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="email" class="form-control" placeholder="email" name="email" [(ngModel)]="data.email" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="password" name="pin" [(ngModel)]="data.password" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Confirm Password" name="pin" [(ngModel)]="data.c_password" required>
                </div>
                <div class="col-md-12 form-group">
                    <textarea name="" id="" class="form-control" placeholder="Address" name="address" [(ngModel)]="data.address" required></textarea>
                </div>
                <div class="col-md-12">
                    <h3>SPOUSE</h3>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="data.sp_first_name">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="data.sp_last_name">
                </div>
                <div class="form-group col-md-4">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Anniversary" [(ngModel)]="data.sp_anniversary">
                        </div>
                        <div class="col-md-2">
                            <label for=""><img src="./assets/images/date-icon.svg" alt=""></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Assign Dietitions</h3>
                </div>
                <div class="col-md-6">
                  <h3>Source</h3>
              </div>
                <div class="col-md-6">
                    <select name="assign" id="" class="form-control">
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select name="assign" id="" class="form-control">
                        <option [value]="source" *ngFor="let source of sourceData">{{source}}</option>
                    </select>
                </div>
                <div class="col-md-12 text-center">
                    <button (click)="newditationAdd()" class="btn">Save</button>
                </div>
            </div> -->
            <div #firstForm>
                <form class="row">
                  <div class="col-md-4 form-group">
                    <label for="">First Name: </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      name="first_name"
                      [(ngModel)]="userData.details.first_name"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Last Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="last Name"
                      name="last_name"
                      [(ngModel)]="userData.details.last_name"
                      required
                    />
                  </div>
                  <!-- <div class="col-md-4 form-group">
                              <input type="email" class="form-control" placeholder="Email" name="" required>
                          </div> -->
                  <div class="col-md-4 form-group">
                    <label>Skype Id</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Skype Id"
                      name="skype_id"
                      [(ngModel)]="userData.details.skype_id"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Phone Number</label>
                    <input
                    [appnospace]="'nospace'"
                    appOnlyNumber 
                      type="text"
                      class="form-control"
                      placeholder="Phone"
                      name="phone"
                      [(ngModel)]="userData.details.phone"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Alternate Number : </label>
                    <input
                    [appnospace]="'nospace'"
                    appOnlyNumber 
                      type="text"
                      class="form-control"
                      placeholder="Alternate Phone / Whatapp"
                      name="alt_phone"
                      [(ngModel)]="userData.details.alt_phone"
                      required
                      
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>City</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="City"
                      name="city"
                      [(ngModel)]="userData.details.city"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Country</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Country"
                      name="country"
                      [(ngModel)]="userData.details.country"
                      required
                    />
                  </div>
                  <!-- <div class="col-md-4 form-group">
                    <label>Client</label>
                    <input
                      type="text"
                      disabled
                      class="form-control"
                      name="types"
                      placeholder="Client"
                    />
                    
                  </div> -->
                  <div class="col-md-4 form-group">
                    <label>Pin Code :</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Pin Code"
                      name="pin"
                      [(ngModel)]="userData.details.pin"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Email :</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="email"
                      name="email"
                      [(ngModel)]="userData.details.email"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group" *ngIf="!isEdit">
                    <label>Pasword :</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="password"
                      name="password"
                      [(ngModel)]="userData.details.password"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group" *ngIf="!isEdit">
                    <label>Confirm Password :</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                      name="c_password"
                      [(ngModel)]="userData.details.c_password"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Date :</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Date of birth"
                      name="dob"
                      [(ngModel)]="userData.details.dob"
                      required
                    />
                  </div>
                  
                  <!-- <div class="col-md-5 form-group">
                    <label>Your Weight(kg):</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Weight"
                      name="weight"
                      [(ngModel)]="userData.details.weight"
                      required
                    />
                  </div> -->
                  <!-- <div class="col-md-5 form-group">
                    <label>Your Height(cm)</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Height"
                      name="height"
                      [(ngModel)]="userData.details.height"
                      required
                    />
                  </div> -->
                  
                  <div class="col-md-4 form-group">
                    <!-- <a (click)="bmis()">Get bmi</a> -->
                    <!-- <p>{{bmis}}</p> -->
                    <label>Bmi</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Bmi"
                      name="bmi"
                      [(ngModel)]="userData.details.bmi"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Visceral Fat %</label>
                    <input
                      appOnlyNumber
                      type="text"
                      class="form-control"
                      placeholder="Visceral fat"
                      name="visceralFat"
                      [(ngModel)]="userData.details.visceralFat"
                      required
                    />
                  </div>
                  <div class="col-md-4 form-group">
                    <label>Body Fat %</label>
                    <input
                    appOnlyNumber
                      type="text"
                      class="form-control"
                      placeholder="Body Fat "
                      name="bodyFat"
                      [(ngModel)]="userData.details.bodyFat"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Initial Observation</label>
                    <textarea type="text"
                    class="form-control"
                    placeholder="Initial Observation"
                    name="initialObservation"
                    required></textarea>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Address:</label>
                    <textarea
                      class="form-control"
                      placeholder="Address"
                      name="address"
                      [(ngModel)]="userData.details.address"
                      required
                    ></textarea>
                  </div>
          
                  <div class="col-md-12">
                    <h3>SPOUSE</h3>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="First Name" />
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Last Name" />
                  </div>
                  <div class="form-group col-md-4">
                    <div class="row">
                      <div class="col-md-10">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Anniversary"
                        />
                      </div>
                      <div class="col-md-2">
                        <label for=""
                          ><img src="./assets/images/date-icon.svg" alt=""
                        /></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <h3>Source</h3>
                    <select name="assign" class="form-control">
                        <option [value]="source" *ngFor="let source of sourceData">{{
                          source
                        }}</option>
                      </select>
                  </div>
                  <div class="col-md-12 text-center">
                    <button (click)="save()" class="btn">Save</button>
                  </div>
                </form>
              </div>
        </div>
        <div *ngIf="secondForm">
            <app-other-client-details [userId]="userId"></app-other-client-details>
        </div>
        
    </div>
</div>
