<div class="client_list">
    <div class="col-md-12">
        <div class="row heading align-items-center">
          <div class="col-md-6">
            <h1>Notes List</h1>
          </div>
          <div class="col-md-6">
            <div class="search">
              <!-- <input type="search" (input)="search($event)"/> -->
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr *ngIf="notesList">
                        <th *ngFor="let key of getKeys(notesList[0])">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of notesList | filter:searchText;">
                      <td *ngFor="let key of getKeys(item)">{{item[key]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>

