<!-- <p>clients-view works!</p> -->

<div class="client-details" >
    <div class="col-md-12" >
        <div class="row heading align-items-center">
            <div class="col-md-6">
                <h1>{{userDetails?.first_name + " " +userDetails?.last_name}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="section">
            <!-- <div class="row"> -->
                <div class="col">
                    <p><b>Id {{userDetails?.user_id}}</b></p>
                    <p>City {{userDetails?.city}}</p>
                    <p>Country {{userDetails?.country}}</p>
                </div>
                <div class="col">
                    <p><b>Spouse</b></p>
                    <p>Katerana Kife</p>
                    <p>Anivi 30-FEB</p>
                </div>
                <div class="col">
                    <p><b>Kids</b></p>
                    <p>Ragav 12-FEB</p>
                    <p>Gopi 30-FEB</p>
                </div>
                <div class="col">
                    <p><b>Professional</b></p>
                    <p>Softwere</p>
                    <p>Company XYZ</p>
                </div>
                <div class="col">
                    <p><b>Dititian Assigned</b></p>
                    <p>Rohan</p>
                    <p>2-12-2019 Onword</p>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-md-12" >
        <div class="section">
            <div class="col">
                <p><b>Email</b></p>
                <p>{{userData?.email}}</p>
            </div>
            <div class="col">
                <p><b>Contact</b></p>
                <p>{{userDetails?.phone}}</p>
            </div>
            <div class="col">
                <p><b>Alternate</b></p>
                <p>{{userDetails?.alt_phone}}</p>
            </div>
            <div class="col">
                <p><b>Skype</b></p>
                <p>{{userDetails?.skype_id}}</p>
            </div>
            <div class="col">
                <a>Request Testimonial</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="user_madical" >
                <h3>Medical History</h3>
                <ul >
                    <div *ngFor="let item of userData?.medhistory">

                        <li>{{item?.title}}</li>
                        <li>{{item?.text}}</li>
                        <li><img [src]="item?.doc" class="img-fluid"></li>
                        <li><a (click)="MediEdit(item?.id)">Edit</a><a (click)="Delete(item?.id)">Delete</a></li>
                    </div>
                </ul>
                <a (click)="medicalAdd()" class="add"><img src="./assets/images/plus-icon.svg"/></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="user_madical" >
                <h3>Progress</h3>
                <ul>
                    <div *ngFor="let item of userData?.progress">
                        <li>gggg</li>
                    </div>
                </ul>
                <a (click)="progressAdd()" class="add"><img src="./assets/images/plus-icon.svg"/></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="user_madical notes">
                <h3>Notes</h3>
                <ul>
                    <div *ngFor="let item of userData?.notes">

                        <li>{{item.title}}</li>
                        <li>{{item.text}}</li>
                    </div>
                </ul>
                <a (click)="notesAdd()" class="add"><img src="./assets/images/plus-icon.svg"/></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="user_madical">
                <h3>Tacks</h3>
                <ul>
                    <div *ngFor="let item of userData?.tasks">
                        <li></li>
                    </div>
                </ul>
                <a (click)="tacksAdd()" class="add"><img src="./assets/images/plus-icon.svg"/></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="user_madical" >
                <h3>Issues</h3>
                <ul >
                    <div *ngFor="let item of userData?.issue">
                        <li>{{item?.title}}</li>
                        <li>{{item?.issue}}</li>
                        <li>{{item?.priority}}</li>
                    </div>
                    
                </ul>
                <a (click)="issuesAdd()" class="add"><img src="./assets/images/plus-icon.svg"/></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="user_madical">
                <h3>Invoices</h3>
                <ul>
                    <div *ngFor="let item of userData?.invoice">
                        <li>{{item?.invoice_number}}</li>
                        <li>{{item?.amount}}</li>
                        <li>{{item?.narration}}</li>
                        <li><img [src]="item?.doc" alt=""></li>
                    </div>
                </ul>
                <a (click)="invoicesAdd()" class="add"><img src="./assets/images/plus-icon.svg"/></a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="diate_chat">
                <h3>Diet Charts</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>s/no</th>
                            <th>Date</th>
                            <th>Week</th>
                            <th>Prepared By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>12.1.19</td>
                            <td>1</td>
                            <td>Chandan sen</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Label</td>
                        </tr>
                    </tbody>
                </table>    
                <a (click)="dietChat()">Add</a>
            </div>
        </div>

    </div>

</div>
