<!-- <p>new-client works!</p> -->
<div class="dietetion">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading">
                <h1>Add New Clients</h1>
            </div>
        </div>
        <div #firstForm>
            <form class="row">
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" [(ngModel)]="userData.details.first_name" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="last Name" name="last_name" [(ngModel)]="userData.details.last_name" required>
                </div>
                <!-- <div class="col-md-4 form-group">
                    <input type="email" class="form-control" placeholder="Email" name="" required>
                </div> -->
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Skype Id" name="skype_id" [(ngModel)]="userData.details.skype_id" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="userData.details.phone" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Alternate Phone / Whatapp" name="alt_phone" [(ngModel)]="userData.details.alt_phone" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="userData.details.city" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Country" name="country" [(ngModel)]="userData.details.country" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" disabled class="form-control" name="type" value="Client">
                    <!-- <select name="type" class="typefield" [(ngModel)]="type" class="form-control">
                          <option value="c">Client</option>
                    </select> -->
                </div>
                <div class="col-md-4 form-group">
                    <input type="number" class="form-control" placeholder="Pin Code" name="pin" [(ngModel)]="userData.details.pin" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="email" class="form-control" placeholder="email" name="email" [(ngModel)]="userData.details.email" required>
                </div>
                <div class="col-md-4 form-group" *ngIf="!isEdit">
                    <input type="number" class="form-control" placeholder="password" name="password" [(ngModel)]="userData.details.password" required>
                </div>
                <div class="col-md-4 form-group" *ngIf="!isEdit">
                    <input type="number" class="form-control" placeholder="Confirm Password" name="c_password" [(ngModel)]="userData.details.c_password" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="date" class="form-control" placeholder="Date of birth" name="dob" [(ngModel)]="userData.details.dob" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Weight" name="weight" [(ngModel)]="userData.detailsweight" required>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" class="form-control" placeholder="Height" name="height" [(ngModel)]="userData.details.height" required>
                </div>
                <div class="col-md-12 form-group">
                    <textarea class="form-control" placeholder="Address" name="address" [(ngModel)]="userData.details.address" required></textarea>
                </div>
                
                
                <div class="col-md-12">
                    <h3>SPOUSE</h3>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group col-md-4">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Anniversary">
                        </div>
                        <div class="col-md-2">
                            <label for=""><img src="./assets/images/date-icon.svg" alt=""></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Assign Dietitions</h3>
                </div>
                <div class="col-md-6">
                  <h3>Source</h3>
              </div>
                <div class="col-md-6">
                    <select name="assign" class="form-control">
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select name="assign" class="form-control">
                        <option [value]="source" *ngFor="let source of sourceData">{{source}}</option>
                    </select>
                </div>
                <div class="col-md-12 text-center">
                    <button (click)="save()" class="btn">Save</button>
                </div>

            </form>

        </div>
        <div *ngIf="secondForm">
        <app-other-client-details [userId]="userId" [userData]="userData"></app-other-client-details>

        <!-- <div class="row">
            <div class="col-md-6">
                <div class="medical_history">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title class="heading">
                                    <h3><a (click)="openQualification()">
                                        <img src="./assets/images/add-icon.svg" alt="">
                                    </a> Qualification</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="accordian_details">
                                <h3>Title</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, alias.</p>
                                <div class="img">
                                    <img src="./assets/images/dietimage.jpeg" class="img-fluid"/>
                                </div>
                            </div>
                        </mat-expansion-panel>

                    </mat-accordion>
                </div>
            </div>
            <div class="col-md-6">
                <div class="medical_history">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title class="heading">
                                    <h3><a (click)="openKids()">
                                        <img src="./assets/images/add-icon.svg" alt="">
                                    </a> Kids</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="accordian_details">
                                <p>First Name</p>
                                <p>Last Name</p>
                                <p>Date Of Birth</p>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="rates_history">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title class="heading">
                                    <h3><a (click)="openRates()">
                                        <img src="./assets/images/add-icon.svg" alt="">
                                    </a>Rates</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="accordian_details">
                                <h3>Items</h3>
                                <p>Money</p>
                                <div class="img">
                                    <img src="./assets/images/dietimage.jpeg" class="img-fluid"/>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="col-md-6">
                <div class="notes_history">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title class="heading">
                                    <h3><a (click)="openNotes()">
                                        <img src="./assets/images/add-icon.svg" alt="">
                                    </a>Notes</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="accordian_details">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, quam!</p>

                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a routerLink="../client-lists" class="btn">Save</a>
            </div>
        </div> -->
    </div>
    </div>
</div>
