@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');

body{margin: 0px; padding: 0px; background-color:#fff; font-family: 'Roboto', sans-serif;}
h1, p, a, button{font-family: 'Roboto', sans-serif;}
a{display: inline-block;}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
$primery-color:#00216a;
$secondary-color:#00b5e2;
$gray-color:#838383;
$small-font:1em;
$midium-font: 1.2em;
$large-font: 2em;
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }
input:focus, textarea:focus{outline: none;}
.form-control{border-color:$primery-color}
h1, p, a, button{font-family: 'Roboto', sans-serif;}
a{display: inline-block;}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
$primery-color:#00216a;
$secondary-color:#b4e9fb;
$gray-color:#e0e0e0;
$small-font:1em;
$midium-font: 1.2em;
$large-font: 2em;
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }
input:focus, textarea:focus{outline: none;}
.cdk-overlay-pane{}
.mat-menu-panel{
    min-width: 100% !important;
}

.form-control{border-color:$gray-color}
.form-group{
    textarea{
        height: 100px;
    }
}
input:-internal-autofill-selected{
    background-color: rgb(180, 233, 253, 1) !important;
  }
.mat-form-field{width:100% !important;
    .mat-form-field-infix{
        border:1px solid $gray-color;
        border-radius:3px;
    }
    
}
.btn{
    background-color: #0076fe !important;
    border:2px solid #0076fe;
    color: white;
    padding: 11px 80px;
    cursor: pointer;
    border-radius: 5px;
    display: table;
    background: url("/assets/images/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 128px center;
    background-size: 20px;
    margin:60px auto 0px;
        &:hover{
            background-color: #ffffff !important;
            color: #0076fe;
            box-shadow: 0px 5px 25px rgba(0,11,258,0.3);
        }
    
}


.fixed{
    position: fixed;
    height: 100%;
    width: 24%;
}


// dialog css
.mat-dialog-title{
    width: 100%;
    h3{
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        font-weight: 500;
    }
}
.submit{
    background-color: $primery-color;
    border:1px solid $primery-color;
    padding: 5px 30px;
    border-radius: 35px;
    display: table;
    margin:40px auto 0px;
    color: #ffffff;
    &:hover{
        background-color: transparent;
        box-shadow: 0px 5px 15px rgba(2,33,106,0.2);
        color: $primery-color;
    }
}

.client_list{
    .mat-tab-label{
        opacity: 1;
    }
    .mat-tab-label-content{
        color: #000000;
    }
    .table{
        border-collapse:separate; 
        border-spacing:0 3px;
        // margin-top: 20px;
        tr{
            td{
                padding-top: 5px ;
                padding-bottom: 5px ;
                margin-bottom: 3px;
                font-size: 15px;
                color: #000000;
                font-weight: 400;
                &:last-child{
                    display: flex;
                    justify-content: space-evenly;
                }
            }
            &:nth-child(odd){
                td{
                    background-color: #ededed;
                }
            }
            &:nth-child(even){
                td{
                    background-color: #d8ecf3;
                }
            }
            
        }
    }
}

.heading{
    padding: 20px 0px;
    h1{
        font-size: 24px;
        color: #000000;
        text-transform: uppercase;
    }
    .search{
        border-radius: 3px;
        border:1px solid $gray-color;
        display: flex;
        justify-content: space-between;
        width: 50%;
        float: right;
        input[type="search"]{
            background-color: transparent;
            border:0px;
            height: 40px;
        }
        input[type="button"]{
            background-color: transparent;
            border:0px;
            background: url("/assets/images/search-icon.svg") no-repeat center;
            flex-basis: 50px;
        }
    }
    select{
        border:0px;
        padding: 5px 0px;
        color: #838383;
        text-transform: uppercase;
        width: 31%;
        margin: 5px 0px;
        option{
            color: #838383;
        }
    }
}