@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');

body{margin: 0px; padding: 0px; background-color:#fff; font-family: 'Roboto', sans-serif;}
h1, p, a, button{font-family: 'Roboto', sans-serif;}
a{display: inline-block;}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
$primery-color:#00216a;
$secondary-color:#00b5e2;
$gray-color:#838383;
$small-font:1em;
$midium-font: 1.2em;
$large-font: 2em;
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }
input:focus, textarea:focus{outline: none;}
.form-control{border-color:$primery-color}
h1, p, a, button{font-family: 'Roboto', sans-serif;}
a{display: inline-block;}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
$primery-color:#00216a;
$secondary-color:#00b5e2;
$gray-color:#e0e0e0;
$small-font:1em;
$midium-font: 1.2em;
$large-font: 2em;
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }
input:focus, textarea:focus{outline: none;}
.form-control{border-color:$gray-color}
.form-group{
    textarea{
        height: 100px;
        resize: none;
    }
}
.mat-form-field{width:100% !important;
    .mat-form-field-infix{
        border:1px solid $gray-color;
        border-radius:3px;
    }
    
}
.save{
    input{
        background-color: #0076fe;
        border:1px solid #0076fe;
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: normal;
        padding: 7px 40px;
        border-radius: 3px;
        &:hover{
            background-color: transparent;
            color:#0076fe;
        }
    }
}



/* You can add global styles to this file, and also import other style files */
/*

TOC

Vars
Reset
Typography
Elements
Form
Components
Data Table
Header
Content
Sidebar
Footer
Student Dashboard
Student Start Page

*/


/*
Vars
*/

/*
Reset
*/


/*
Typography
*/


._error {
    color: red;
    font-weight: 700;
}


/*
Elements
*/


/*
Form
*/


._dashboard__page .btn,
._dashboard__page .btn.btn-sm {
    border: none;
}

.btn-sm {
    border: none;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 700;
}

.ngx-datatable {
    .btn-sm {
        margin: 0;
        margin-right: 0.5rem;
        // margin: 0 0.5rem 0.5rem 0;
    }
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

._dashboard__page .btn.btn-sm.custom-add {
    background-color: #8BC34A !important;
    box-shadow: none;
    color: #fff !important;
    font-weight: 700;
}


/*
Components
*/


/*
Data Table
*/

.ngx-datatable {
    margin-bottom: 50px;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #222a32;
    color: #fff;
}


/*
Header
*/


/*
Content
*/


/*
Sidebar
*/


/*
Footer
*/


/*
Student Dashboard
*/


/*
Student Start Page
*/

// @import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/material.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';
// @import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
// @import "~@ng-select/ng-select/themes/default.theme.css";

/*
Select 2 dsign
*/

ng-select {
    width: 300px;
    display: inline-block !important;
    margin-left: 36px;
    height: 42px;
}

.ng-select {
    .ng-select-container {
        height: 42px !important;
    }
}

.ngx-datatable.bootstrap {
    .datatable-footer {
        background: #212a32 !important;
        color: #fff !important;
    }
}


/*
Modal content form
*/

i.fas {
    font-size: 18px;
    margin: 4px 10px;
    cursor: pointer;
}

.ngx-datatable .datatable-body .datatable-body-row>div {
    align-items: center;
}

.modal-content {
    ._agntForm {
        .form-control {
            background: none;
            border: 1px solid #cccccc;
            border-radius: 5px;
            color: #39383a;
        }
        ._btnDiv {
            padding-bottom: 4px !important;
        }
        ._agntBdy {
            padding-bottom: 8px !important;
            margin-bottom: 18px !important;
        }
    }
}

._radioBtn2>span,
._checkBtn2>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: initial;
    text-align: center;
    text-transform: capitalize;
}

._d__navLink:hover,
._d__navLink.active {
    color: #fff;
    background: #e93855;
    background: linear-gradient(to right, #e93855 0%, #ee6046 40%, #ee6046 40%, #f9be24 100%);
}

._dCard__bdy .tab-content {
    overflow-y: auto;
    max-height: 320px;
}

._tabOne .nav-tabs li a {
    padding: 0px 20px 5px 20px;
}

._dModal .modal-dialog {
    width: 650px !important;
}

app-student-subject-question:nth-child(even) ._QA__acc {
    background: #f5f5f5;
}

._qa__question span p span {
    color: #333333bf !important;
}

.modal-confirm._dModal {
    .modal-dialog {
        width: 400px !important;
    }
}

.modal-confirm {
    color: #434e65;
    // width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
    display: block;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.cdk-overlay-container{
    z-index: 1060 !important;
}

._QA_Block {
    ._ques p span {
        color: #006cff !important;
        font-weight: 600;
    }
}
// ._qa__question  span p{
//     color: #006cff !important;
//     font-weight: 600;
// }

._QA_Block {
    ._ansDiv p span {
        color: #000000d9 !important;
        font-weight: 500;
    }
}

/**
* Switch css
*/

.switch input {
    display:none;
  }
  .switch {
    display:inline-block;
    width:50px;
    height:20px;
    margin:8px;
    transform:translateY(70%);
    position:relative;
  }

  .slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
  }
  .slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
  }

  input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
  }
  input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
  }

  .fr-popup.fr-desktop {
    z-index: 99999 !important;
}
