<!-- <p>clients-lists works!</p> -->
<div class="client_list">
  <div class="col-md-12">
    <div class="row heading align-items-center">
      <div class="col-md-6">
        <h1>Clients</h1>
      </div>
      <div class="col-md-6">
        <div class="search">
          <!-- <input type="search" (input)="search($event)"/> -->
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="Search">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <!-- <mat-tab-group>
            <mat-tab label="Name">
            <ng-template matTabContent> -->
    <div class="table-responsive">
      <table class="table" matSort (matSortChange)="sortData($event)">
        <thead>
          <tr>
            <!-- <td mat-sort-header="sl">Sl.No.</td> -->
            <td mat-sort-header="name">Name</td>
            <!-- <td mat-sort-header="age">age</td> -->
            <!-- <td mat-sort-header="gender">Gender</td> -->
            <td mat-sort-header="city">City</td>
            <td mat-sort-header="country">Contry</td>
            <!-- <td mat-sort-header="condition">Condition</td> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let client of clientListData | filter:searchText; let i = index ">
            <!-- <td>{{ i + 1 }}</td> -->
            <td>{{ client.name }}</td>
            <!-- <td>25</td> -->
            <!-- <td>M</td> -->
            <td>{{client.city}}</td>
            <td>{{client.country}}</td>
            <!-- <td>Diabeties</td> -->
            <td>
              <p>{{client.user_id}}</p>
              <a [routerLink]="['../clientDetails', client.user_id]"
                ><img src="assets/images/view-icon.svg"
              /></a>
              <a><img src="assets/images/delete-icon.svg"/></a>
              <a [routerLink]="['../clientEdit', client.user_id]"><img src="assets/images/edit-icon.svg"/></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
